/* Standart (dunkel) */
:root {
    --bg: #09090f;
    --text: #ffffff;
}

/* heller Modus (body wird gewechselt) */
body.light-mode {
    --bg: #f4f6f8;
    --text: #0d1117;
}

/* Global Body und wie er sich anpasst */
body {
    background-color: var(--bg);
    color: var(--text);
    font-family: sans-serif;
    /* transition macht das Umschalten der Farben schön weich */
    transition: background-color 0.3s, color 0.3s; 
}